{
  "arrowParens": "always",
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
